@font-face {
    font-family: odachi;
    src: url(font-family/Odachi.woff);
    font-family: yozakura;
    src: url(font-family/YOZAKURA-Regular.otf);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(photos/body-background.jpg);
}

/* HEADER */ 

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 10px 10px 5px 0px rgba(128,128,128,1);
}

.first-container {
    display: flex;
    justify-content: center;
    padding: 1px;
}


.item {
    text-align: center;
    font-family: odachi, sans-serif;
}

.first-ul li {
    padding: 0 15px;
    margin: 0 30px; 
}

/* ABOUT ME SECTION */ 

.section-about-me {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    background-image: url(https://preview.redd.it/what-are-these-called-these-anime-speed-motion-lines-is-v0-1fno3qauyv2b1.png?auto=webp&s=d140b133853bd43c399d9715390aa5220e8dbc94);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-about-me { 
    display: flex;
    border-radius: 150px;
    border: 2px inset rgb(161,126,126);
    width: 200px;
    height: 200px;
    box-shadow: rgba(237,193,237,0.96);
}


.title-name {
    font-family: yozakura, sans-serif;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.description-about-me {
    font-family: odachi, sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #f353bc;
}

/* SKILLS SECTION */ 

.section-skills { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}

.box-skills-container {
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    width: 150px;
    height: 180px;
    border-radius: 20px;
    margin: 0 30px 30px 30px;
    border: rgb(161,126,126) solid;
    border-style: double;
    font-family: yozakura, sans-serif;
}

.box img {
    width: 100%;
}
.box {
    transition-property: background;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.box:hover { 
    transform: scale(1.1);
}

.skills-title {
    font-family: yozakura, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 30px;
}

.skills-content {
    font-family: odachi, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 10px;
}

.skills-content-dont {
    font-family: odachi, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 2px;
    padding-bottom: 5px;
}

/* QUOTE SECTION */ 

.section-quote {
    max-width: 100%;
    min-height: 100vh;
    background-color: #c2c2c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-icon {
    margin-top: 100px; 
    margin-bottom: 50px;
}

.quote-text {
    margin: 15px 80px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.quote-sign {
     margin-top: 50px;
     font-family: yozakura, sans-serif;
     font-size: 40px;
     font-weight: bolder;
}


/* PROJECTS SECTION */ 

.projects-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.project-title {
    font-family: yozakura, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

.projects-content {

    font-family: odachi, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
    gap: 20px;
}

.container {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 210px;
    border-radius: 10px;

 }

.container img {
    width: 100%;


}
.container {
    transition-property: background;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.container:hover { 
    transform: scale(1.1)
}

.project {
    font-family: yozakura, sans-serif;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1px;
}


/* CONTACT SECTION */ 

.contact-section {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #c2c2c2; 
    border-radius: 10px;
    border-style: double;
}

.contact-title {
    font-family: odachi, sans-serif;
    font-size: 60px;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 10px;
}

.contact-contend {
    font-family: odachi, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
    font-size: larger;
    font-weight: lighter;
    letter-spacing: 1px; 
}

.contact img {
    width: 40px;
}

.caption {
    text-align: center;
    margin: 10px 3px 30px 5px;
}


.instagram-contact
.gmail-contact
.github-contact 
.linkedin-contact {
    margin-top: 25px;
    margin-left: 10px;
}

/* FORM SECTION */

.form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legend-title {
    font-family: odachi, sans-serif;
    font-size: 5rem;
    font-weight: lighter;
}

.formu {
    font-family: yozakura, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.input {
    border-radius: 10px;
    border-color: #c2c2c2;
    border-style: dashed;
}

.textarea {
    border-radius: 10px;
    border-color: #c2c2c2;
    border-style: dashed;
}

.submit-button {
    font-family: yozakura, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border-color: #c2c2c2;
    border-style: dashed;
}

/* FOOTER */ 

.footer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: lightgray;
}

.first-container-footer {
    display: flex;
    justify-content: center;
    padding: 1px;
}

.first-list-footer {
    padding: 25px;
    display: flex;
    flex-direction: row; 
    gap: 25px;
}

.first-footer-list {
    font-family: odachi, sans-serif;
    font-size: larger;
    text-align: center;
    font-weight: bold;
}

.second-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.second-list-footer {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.second-list-footer li {
    padding: 0 15px;
    margin: 0 10px;
}

.second {
    border-radius: 15px;
    background-color: lightgray;
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
}

.second:hover { 
    background-color: rgba(128,128,128,1);
}

.goodbye {
    margin-top: 15px;
    font-family: odachi, sans-serif;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}

/* HAMB MENU */ 


.first-container .open {
    display: block;
    justify-content: flex-start;
    justify-items: flex-start;
    height: 40px;
    width: 40px;
    background-image: url(photos/ham-close.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.first-container .close {
    display: none;
    height: 40px;
    width: 40px;
    background-image: url(photos/hamb-menu.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.close {
    display: none;
}

#menu:target .first-ul {
    display: none;
}

#menu:target .open {
    display: none;
}

#menu:target .close {
    display: block;
}

/* MEDIA QUERYS */ 

@media  screen and (max-width: 700px) {
    .section-about-me {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .form {
        flex-direction: column;
        justify-content: center;
        display: flex;
        padding: 0 10px;
        margin: 0 auto;
    }

    .contact-section {
        flex-direction: column;
    }
}

